#Experience Orbs Feature Configuration
#
# Controls XP orb merging to reduce entity count.
# Orbs within clusterRange blocks will be merged into a single orb.
# Optionally removes very old XP orbs that survive far beyond normal lifetime.
#Fri Jun 12 06:53:50 ICT 2026
movePositionToLastDrop=false
minOptimizationLoadLevel=auto
experienceOrbsClusterRange=2
staleExperienceOrbAgeTicks=120000
optimizeExperienceOrbs=true
removeStaleExperienceOrbs=true
enabled=auto
