#Monitoring Feature Configuration
#
# Periodically logs server performance metrics to the server log.
# Set monitoringIntervalSeconds to 0 to log only on load-level changes.
#Fri Jun 12 06:53:51 ICT 2026
monitoringLogEntities=true
monitoringLogLoadLevel=true
monitoringLogPlayers=true
monitoringLogTps=true
enabled=disabled
monitoringIntervalSeconds=30
