#Player Login Protection Configuration
#
# When enabled, players receive brief invisibility + invulnerability on login
# until they move (or until the timeout expires).
#Fri Jun 12 06:53:51 ICT 2026
protectPlayerDuringLogin=true
playerLoginValidationTimeout=60
protectPlayerDuringLoginLogging=true
enabled=auto
